<%= render 'layouts/special' %>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row site_description">
      <h4>Thank You for Visiting...</h4>
      <article>
        <p style="color:white; text-shadow: 1px 1px 1px #000, 
               3px 3px 5px blue">
          Gaan Tharang is a digital music service that gives you access to millions of songs, its free and open source web music player, that brings a seamless music experience to you. Listen to the right music, wherever you are. It brings free playlist for every mood and moment in your life. You can choose the song that you wish to hear and you can also request the song that you like to hear and i will get that for you.
        </p> 
      </article>
    </div>
    <div class="row">
      <center>
        <h3><i><%="Notifications" if @notifications.present?%></i></h3>
          <% @notifications.each do |notification| %>            
              <h5 style="color:#00FF00;"><%= notification.event %></h5>
                   
              <marquee>
                <p style="color:#FFFF99;"><%= notification.status %></p>
              </marquee>        
          <% end %>        
      </center>
    </div>
    <div class="row">
      <% if @albums.count==0%>
        <div><center><h4 style="color:#00FFFF;">No Albums</h4></center></div>
      <% else %>
        <% @album_first_id=@album_first.id %>
        <% @albums_remain=@albums.where('id NOT IN(?)', @album_first_id) %>       
        <center><h3 style="color:#00FFFF;">New Albums</h3></center>
        <div class="carousel slide" id="myCarousel" >
          <div class="carousel-inner" style="height:180px">    
            <div class="item active" >
              <div class="col-md-3"><a href="<%= album_path(@album_first) %>">
              <%= image_tag @album_first.cover_url,class: "img-responsive" %></a></div>
            </div>
            <% @albums_remain.each do |album| %>
            <div class="item" >
              <div class="col-md-3"><a href="<%= album_path(album) %>"><%= image_tag album.cover_url, class: "img-responsive" %></a></div>
            </div>
            <%end%>    
          </div>          
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>    
      <% end %>
    </div>    
  </div>    
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
    <div class="col-md-6" style="height:350px; overflow:auto;"> 
    <center><h3 style="color:#00FFFF;"><i>New Release</i></h3></center>
      <ol>
        <li>
          <ul>
            <% @new_albums.each do |new_album|%>          
              <li class="l4link">
                <%= link_to (image_tag new_album.banner,width: 100,height: 100),new_album%><br>
                <center><%= link_to new_album.name,new_album%></center>
              </li>          
            <%end%>
          </ul>
        </li>
      </ol>
    </div>
    <div class="col-md-4">
      <center><h3 style="color:#00FFFF;"><i>Old Release</i></h3></center>
      <!-- Split button -->
      <center>
        <div class="btn-group">
        <button type="button" class="btn btn-primary">Old Release</button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <% @old_albums.each do |old_album|%>
            <li><a href=""><%= link_to old_album.name,old_album%></a></li>
          <%end%>
          
        </ul>
      </div>
      </center>
      
    </div>
  <div class="col-md-1"></div>
</div>



    